llama-index-llms-deepseek
llama-index-llms-ollama
llama-index
ollama
oss2
python-dotenv
streamlit-chat-animated
streamlit-chat
streamlit-chatbot
streamlit-option-menu
streamlit-carousel
streamlit
ultralytics
watchdog
pynvim
'python-lsp-server[all]'
pylsp-mypy
python-lsp-isort
python-lsp-black
